.bodymate {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(
      30deg,
      #e0f3f7 12%,
      transparent 12.5%,
      transparent 87%,
      #e0f3f7 87.5%,
      #e0f3f7
    ),
    linear-gradient(
      150deg,
      #e0f3f7 12%,
      transparent 12.5%,
      transparent 87%,
      #e0f3f7 87.5%,
      #e0f3f7
    ),
    linear-gradient(
      30deg,
      #e0f3f7 12%,
      transparent 12.5%,
      transparent 87%,
      #e0f3f7 87.5%,
      #e0f3f7
    ),
    linear-gradient(
      150deg,
      #e0f3f7 12%,
      transparent 12.5%,
      transparent 87%,
      #e0f3f7 87.5%,
      #e0f3f7
    ),
    linear-gradient(
      60deg,
      rgba(224, 243, 247, 0.5) 25%,
      transparent 25.5%,
      transparent 75%,
      rgba(224, 243, 247, 0.5) 75%,
      rgba(224, 243, 247, 0.5)
    ),
    linear-gradient(
      60deg,
      rgba(224, 243, 247, 0.5) 25%,
      transparent 25.5%,
      transparent 75%,
      rgba(224, 243, 247, 0.5) 75%,
      rgba(224, 243, 247, 0.5)
    );
  background-size: 92px 161px;
  background-position: 0 0, 0 0, 46px 80.5px, 46px 80.5px, 0 0, 46px 80.5px;
  background-color: #baa4fb;
}
.BIGDIV {
  width: 600px;
  background-color: rgb(16, 2, 49, 01);
  padding: 20px;
  border-radius: 10px;
  margin: 40px 0px 0px 0px;
  border: 1px solid rgba(17, 47, 83, 0.394);
  justify-content: space-between;
  display: flex;
}
.BIGDIVSTART {
  width: 600px;
  background-color: rgb(16, 2, 49, 01);
  padding: 20px;
  border-radius: 10px;
  margin: 40px 0px 0px 0px;
  border: 1px solid rgba(17, 47, 83, 0.394);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.BIGDIVRESULT {
  width: 600px;
  background-color: rgb(16, 2, 49, 01);
  padding: 20px;
  border-radius: 10px;
  margin: 40px 0px 0px 0px;
  border: 1px solid rgba(17, 47, 83, 0.394);
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
}

.BIGDIVRESULT .results {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
}

.imgDiv {
  width: 250px;
  display: flex;
  justify-content: center;
}
.para {
  color: antiquewhite;
}
.headingowo {
  color: #ffffff;
  background-color: rgb(41, 25, 119);
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.image1 {
  color: antiquewhite;
  width: 200px;
  justify-content: center;
}

.Abutton {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: -10px 0px -10px 0px;
  background-color: #baa6f3;
  width: 300px;
}
.Sbutton {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: -10px 0px -10px 0px;
  background-color: rgb(163, 158, 229);
  width: 300px;
}
.uploadbtn {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: -10px 0px -10px 0px;
  background-color: #d9cbed;
  width: 280px;
}

.startBtn {
  width: 280px;
  height: 50px;
  color: #000000;
  background-color: #d9cbed;
  border-radius: 20px;
}

.THETITLE {
  top: 0%;
  color: #ffffff;
  background-color: rgb(41, 25, 119);
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
}

.AnalyseBTN {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: -10px 0px -10px 0px;
  background-color: #8f68c6;
  width: 300px;
  border-width: 5px;
  border-color: rgb(108, 73, 190);
  margin-top: 30px;
  border-radius: 5px;
}
.backButton {
  left: 5px;
  top: 0px;
  position: absolute;
  padding: 10px;
  background-color: rgb(41, 25, 119);
  border-radius: 5px;
}

.backButton:hover {
  color: white;
  width: 50px;
}
.clock {
  color: #ffffff;
  background-color: rgb(41, 25, 119);
  margin: 3% 0px 0px 0px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  font-size: 30px;

}
.Pizza {
  color: #ffffff;
  background-color: rgb(41, 25, 119);
  margin: 3% 0px 0px 0px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  font-size: 15px;
  
}
.Pizza:hover {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
