.headingowo {
  color: #ffffff;
  background-color: rgb(44, 99, 209);
  margin: 0;
  padding: 10px;
  border-radius: 5px;
}

.headingowo2 {
  color: #ffffff;
  background-color: rgb(44, 99, 209);
  margin: 0;
  padding: 10px;
}

.headingowo:hover {
  background-color: rgb(241, 70, 159);
  transition-duration: 400ms;
}

.headinguwu {
  color: #ffffff;
  background-color: rgb(139, 42, 133);
  margin: 5px 5px 0px;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}

.paragraph {
  color: #ffffff;
  background-color: rgb(241, 70, 159);
  margin: 0px 0px 0px 0px;
  padding: 10px;
  border-radius: 5px;
}

.colour {
  color: #ffffff;
  background-color: #49c7e3;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
}

.picture {
  display: inline-block;
  position: relative;
  width: min-content;
  height: 60px;
}

.topText {
  position: relative;
  width: 100%;
}

.mainTop {
  display: flex;
  flex-direction: row;
}

.mainTop {
  display: flex;
  flex-direction: row;
}

.sign {
  display: flex;
  flex-direction: row;
  background-color: rgb(241, 70, 159);
  border-radius: 5px;
}

.scorpio {
  position: relative;
}

.CHINA {
  height: 66px;
  width: 100px;
  border-radius: 5px;
}

.signPic {
  height: 43px;
  width: 43px;
}

.headingTvT {
  color: #ffffff;
  background-color: rgb(139, 42, 133);
  margin: 5px 5px 0px 5px;
  padding: 0px 0px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
}

.expandSymbol {
  color: white;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 10px;
  width: 30px;
  height: 40px;
  background-color: rgb(241, 70, 159);
}

.noMargin {
  margin: 0px;
}

.bodymate {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #0dff00;
  font-family: Comic Sans MS;
}

.buttonDown {
  background-color: rgb(241, 70, 159);
  border-radius: 5px;
}

.buttonDownDiv {
  margin: 0px 3px 0px -6px;
}
.chineseFlag {
  margin-bottom: -4px;
}
.BIGDIV {
  width: 600px;
  background-color: rgb(25, 8, 66);
  padding: 20px;
  border-radius: 10px;
  margin: 40px 0px 0px 0px;
}

.THETITLE {
  top: 0%;
  color: #ffffff;
  background-color: rgb(44, 99, 209);
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
}
